.expand {
  width: 98%;
  margin: 20px auto;
}

.header {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.list {
  display: flex;
  gap: 2%;
}

.item {
  display: flex;
  gap: 3%;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  width: 33%;
  font-size: 1.1rem;
}

.image {
  width: 33%;
  aspect-ratio: 1/1;
  border-radius: 7px;
  object-fit: cover;
}

.item:hover {
  border: 1px solid gray;
  cursor: pointer;
}
